---
layout: compress
---
<!DOCTYPE html>
<html class="no-js">
<head>
    {% include head.html %}
    <script type="application/json" id="post-data">
        {
            "posts": [
                {% for post in site.posts %}
                {
                    "title": "{{ post.title | escape }}",
                    "url": "{{ site.url }}{{ post.url }}",
                    "excerpt": "{{ post.excerpt | escape }}"
                }
                {% if forloop.last == false %},{% endif %}
                {% endfor %}
            ]
        }
    </script>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/pagination.css">
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list" id="post-list">
                    <!-- 포스트 아이템이 여기에 동적으로 추가됩니다 -->
                </div>
                <div class="pagination" id="pagination">
                    <!-- 페이지네이션 버튼이 여기에 동적으로 추가됩니다 -->
                </div>
            </div>
        </div>
        <!-- 카테고리 -->
        {% include categorybox.html %}
    </header>
    
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
    <script src="{{ site.url }}/assets/js/pagination.js"></script>
</body>
</html>